.feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-base);
  padding: var(--space-base) 0;

  @media (min-width: 964px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1322px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1682px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
