@import '@/styles/_mixins.module';

.participants {
  position: absolute;
  inset-block-end: calc(var(--space-small) + 52px);
  inset-inline-end: var(--space-small);

  @include device(desktop) {
    inset-block-end: var(--space-small);
    inset-inline: var(--space-small) calc(var(--meeting-desktop-sidebar) + var(--space-small));
    mask-image: unset;
  }
}

.list {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--space-small);
  list-style: none;
  margin: 0;
  padding: 0;

  @include device(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.item {
  overflow: hidden;
  position: relative;
  width: var(--meeting-participant-size);
  height: calc(var(--meeting-participant-size) * 1.3);
  border: 1px solid var(--color-border);
  border-radius: 0;
  background: var(--color-background-alt);
}

.avatar {
  position: relative;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  :global {
    .lk-participant-media-video {
      width: var(--meeting-participant-size) !important;
      height: calc(var(--meeting-participant-size) * 1.3) !important;
      object-fit: cover !important;
    }
  }
}

.mic,
.owner {
  position: absolute;
  inset-block-end: var(--space-tiny);
  font-size: var(--font-size-small);
  line-height: 1;
}

.mic {
  inset-inline-start: var(--space-tiny);
  color: var(--color-danger);
}

.owner {
  inset-inline-end: var(--space-tiny);
  color: var(--color-warning);
}
