.post {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  color: var(--color-text-primary);
  text-decoration: none;

  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-tiny) 0 0;
}

.info {
  grid-area: info;
}

.title {
  margin: 0;
  padding: 0;
}

.users {
  display: flex;
  align-items: center;
  gap: 4px;
}
